@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway", serif;
}

body{
    font-family: 'Poppins', serif;
    width: 100%;
    height: 100vh;
};


header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20%;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 5%;
    gap: 20px;
}

 
section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5% ;
    gap: 20px;
}

/*
strong{
    font-size: 36px;
    color: brown;
} */



.form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

fieldset {
    border: none;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.legend {
    font-weight: bold;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding-left: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.form-actions {
    display: flex;
    justify-content: center;
    align-items: center;}

button {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="reset"] {
    background-color: #ff6666;
    color: white;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

.instrucao{
    margin-top: 10px;
    font-size: 12px;
    color: #333;
}